* {
	padding: 5px;
	margin: 5px;
}

body {
	background-color: #c000c0;
}

header {
	margin-bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

footer {
	margin-top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

header, footer {
	background-color: #00ff00;
}

section,nav{
	margin-top: 0px;
	margin-bottom: 0px;
}

section {
	background-color: #ffffff;
}

nav{
	background-color:#aaccaa;
}

nav>a{
	text-decoration: none;
	display:inline-block;
	border-radius:5px;
	padding:8px;
	margin:5px;
	background-color:#0000ff;
	color:#000000;
	font-weight:800;
	font-family: "Arial Narrow";
}